.WagerDashboard {
  width: 20rem;
  margin: 0 auto;
  padding: 1rem 0.4rem;
  border: 2px solid black;
  text-align: center;
  display: flex;
}
.WagerDashboard-Chip {
  color: white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.WagerDashboard-Chip-Small {
  background-image: url('./images/poker-chip.svg');
  background-size:cover;
}
.WagerDashboard-Chip-Med {
  background-image: url('./images/poker-chip.svg');
  background-size: cover;
}
.WagerDashboard-Chip-Large {
  background-image: url('./images/poker-chip.svg');
  background-size: cover;
}
.WagerDashboard-Chip:not(:nth-of-type(0)) {
  margin-left: 1rem;
}
.WagerDashboard-Chip-Wagered {
  margin: 0 auto;
  background: url('./images/poker-chip.svg');
  background-size:cover;
  color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}


.InPlay {
  width: 5rem;
  height: 5rem;
  text-align: center;
  border: 1px solid;
  margin: 0 auto;
}


.Playarea {
  width: 20rem;
  height: 30rem;
  margin: 0 auto;
  background-image: url('./images/casino.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}
p {
  max-width: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
